@charset "UTF-8";

/* Reset */
a {
    text-decoration: none;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
    min-width: 100%;
    min-height: 100%;
    height: 100%;
    -webkit-text-size-adjust: none;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Box Model */

*, *:before, *:after {
    box-sizing: border-box;
}

/* Basic */

@media screen and (max-width: 480px) {
    html, body {
        min-width: 320px;
    }
}

body.is-loading *, body.is-loading *:before, body.is-loading *:after {
    animation: none !important;
    transition: none !important;
}

html {
    height: 100%;
    overflow: hidden;
}

body:after {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: inherit;
    opacity: 0;
    z-index: 1;
    background-size: 100px 100px, cover;
    background-position: top left, center center;
    transition: opacity 1.75s ease-out;
}

body.is-loading:after {
    opacity: 1;
}

/* Type */

body, input, select, textarea {
    color: #414f57;
    font-family: Arial, Verdana, Sans-serif;
    font-size: 14pt;
    font-weight: 300;
    line-height: 2;
    letter-spacing: 0.2em;
}

@media screen and (max-width: 1680px) {
    body, input, select, textarea {
        font-size: 11pt;
    }
}

@media screen and (max-width: 480px) {
    body, input, select, textarea {
        font-size: 10pt;
        line-height: 1.75;
    }
}

a {
    transition: color 0.2s ease, border-color 0.2s ease;
    color: inherit;
}

a:hover {
    color: #ff7496;
}

strong, b {
    color: #313f47;
}

em, i {
    font-style: italic;
}

p {
    margin: 0 0 1.5em 0;
}

h1, h2, h3, h4, h5, h6 {
    color: #ffffff;
    line-height: 1.5;
    margin: 0 0 0.75em 0;
}

h1 {
    font-size: 1.85em;
    margin: 0 0 0.525em 0;
}

h2 {
    font-size: 1.25em;
}

h3, h4, h5, h6 {
    font-size: 1em;
}

@media screen and (max-width: 480px) {
    h1 {
        font-size: 1.65em;
    }
}

sub, sup {
    font-size: 0.8em;
    position: relative;
}

sub {
    top: 0.5em;
}

sup {
    top: -0.5em;
}

hr {
    border: 0;
    border-bottom: solid 1px #c8cccf;
    margin: 3em 0;
}

/* Main */

#main {
    position: relative;
    max-width: 100%;
    min-width: 27em;
    padding: 4.5em 3em 10em 3em;
    border-radius: 4px;
    cursor: default;
    opacity: 0.95;
    text-align: center;
    transform-origin: 50% 50%;
    transform: rotateX(0deg);
    transition: opacity 1s ease, transform 1s ease;
    color: #ffffff;
}

#main .avatar {
    position: relative;
    display: block;
    margin-bottom: 1.5em;
}

#main .avatar img {
    display: block;
    margin: 0 auto;
    border-radius: 100%;
    border: 2px solid #fff;
}

#main .avatar:before {
    display: block;
    position: absolute;
    top: 50%;
    left: -3em;
    width: calc(100% + 6em);
    height: 1px;
    z-index: -1;
    background: #c8cccf;
}

@media screen and (max-width: 480px) {
    #main {
        min-width: 0;
        width: 100%;
        padding: 4em 2em 2.5em 2em;
    }

    #main .avatar:before {
        left: -2em;
        width: calc(100% + 4em);
    }
}

body.is-loading #main {
    opacity: 0;
    transform: rotateX(15deg);
}

/* Footer */

#footer {
    align-self: flex-end;
    width: 100%;
    padding: 1.5em 0 0 0;
    color: rgba(255, 255, 255, 0.75);
    cursor: default;
    text-align: center;
}

#footer .copyright {
    padding: 0;
    font-size: 0.9em;
    list-style: none;
}

#footer .copyright li {
    display: inline-block;
    margin: 0 0 0 0.45em;
    padding: 0 0 0 0.85em;
    border-left: solid 1px rgba(255, 255, 255, 0.5);
    line-height: 1;
}

#footer .copyright li:first-child {
    border-left: 0;
}

/* Wrapper */

#wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    perspective: 1000px;
    position: relative;
    min-height: 100%;
    padding: 1.5em;
    z-index: 2;
}

#wrapper > * {
    z-index: 1;
}

#wrapper:before {
    content: '';
    display: block;
}

@media screen and (max-width: 360px) {
    #wrapper {
        padding: 0.75em;
    }
}

body.is-ie #wrapper {
    height: 100%;
}

canvas {
    padding: 0;
    margin: 0;
    position: absolute;
    z-index: -1;
    left: 0px;
}

#sakura {
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
}
